.Footer-Main {
    background-color: var(--Colour-Button-Static);
    padding: 2rem 4rem;
}

.Footer-Main-Div2-Text {
    font-family: 'Inter',sans-serif;
    color: var(--Colour-Brand-White);
    font-size: 1.1rem;
    text-align: center;
}

.Footer-Main-Div2 {
    border-radius: 0.6rem;
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (max-width: 767px) {
    .Footer-Main {
        background-color: var(--Colour-Button-Static);
        padding: 1rem 2rem;
    }

    .Footer-Main-Div2-Text {
        font-family: 'Inter',sans-serif;
        color: var(--Colour-Brand-White);
        font-size: 0.9rem;
        text-align: center;
    }
}